@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg,
canvas {
  display: block;
  margin: 0 auto;
}

.rsm-svg {
  /* margin-top: 50px; */
  /* border: #33ff7a; */
  /* border-style: solid;
  width: 90% !important;
  max-height: 80vh !important; */
}

canvas {
  /* margin-top: 50px; */
  width: 80% !important;
  max-height: 90vh !important;
}

.controls {
  /* display: flex;
  /* position: fixed; */
  /* top: 0; */
  /* left: 50%; */
  /* margin: 1.25rem 0; */
  /* text-align: center; */
  /* transform: translateX(-50%);  */
}

.controls > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 2rem;
  width: 2rem;
  background: #ff5533;
  color: #fff;
  border-radius: 100%;
  border: 0;
}
.controls > button:first-child {
  margin-right: 0.25rem;
}

.marker:hover > circle {
  fill: #33ff7a !important;
  fill-opacity: 1;
}
